<div id="navigationAuthPartial">
    <div id="signOut">
        {{!-- <h1>STEMConnect</h1> --}}
        <img src="/public/Stemconnect.png" style="max-height: 10vh;" alt="">
        <p>A Modern Employment Solution</p>
        <a class ="btn btn-danger" id="logoutButton" href="/logout"> Logout</a>
        <p>Hello, {{username}}!</p>
    </div>
    <a class="navbar-brand" href="/">STEMConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav" id="navv-bar">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Filtered Search</a></li>
            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/aboutUs">About Us</a></li>
        </ul>
    </div>
</div>