<div class="col-md-4">
    <div class="bg-white">
        <h4>Find a Job</h4>
        <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="search">
        </div>
        <div class="form-group">
            <button class="search">Search</button>
        </div>
        <div class="min-max-slider" data-legendnum="2">
            <label for="min">Minimum price</label>
            <input id="min" class="min" name="min" type="range" step="1" min="0" max="3000" />
            <label for="max">Maximum price</label>
            <input id="max" class="max" name="max" type="range" step="1" min="0" max="3000" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SalaryMin">Salary Min</label>
                    <input type="text" class="form-control" id="SalaryMinFilter" placeholder="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SalaryMax">Salary Max</label>
                    <input type="text" class="form-control" id="SalaryMaxFilter" placeholder="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="row profile-card">
        <div class="col-md-6">
            <div class="box">
                <div class="image-box">
                    <img src="https://dummyimage.com/400x400/000/fff">
                </div>
                <h5 class="jobTitle">Sr. Developer</h5>
                <p class="complanyName">Google</p>
                <p class="salaryRange">$75,000 - $85,000</p>
                <div class="address"><img src="pin.png" class="map-pin"><a href="#">Address</a></div>
                <p class="description">Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna
                    mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget
                    urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper.</p>
                <div>
                    <span class="tag">Python</span>
                    <span class="tag">Js</span>
                </div>
            </div>
        </div>


    </div>
</div>